body{
   width: fit-content;
   overflow-x: hidden;
}
.wool{
    z-index: 2;
    background-color: white;
}
.job{
    background-color:white;
    height:40vh;
    width: 90%;
    padding-bottom: 50px;
    margin-left:5%;
    border-radius: 10px;
}

.job img{
    float: left;    
    padding-left: 20px;
    object-fit:cover;    
    height:20vh;
}
.job h1{
    text-shadow: rgb(4, 79, 241) 2px 3px 2px;
    padding-left: 20px;
    text-decoration: underline;
    text-decoration-line: underline;
}

.job ul{
    display: block;
}
.job ul li{
    display: inline-block;
}
@media only screen and (max-width: 600px) {
  .job {
        height:fit-content;
    }
}
@media only screen and (min-width: 600px) {
  .job {
        height:fit-content;
    }
}
.biggy{
    background-color:white;
    width:90%;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-left: 5%;
    filter: contrast(0.9)
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
    background-color:white;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
@media only screen and (max-width: 600px) {
    .box-element {
        background:green;
        
      }
      .row{
        width: 50%;
      }
      .row ul li{
        color: #fff;

      }
  }
.product{
	border-radius: 0 0 4px 4px;
}

.row ul li{
    list-style-type: none;
    color: chocolate;
    text-shadow: green 0px 1px 1px;
    text-decoration: double;
    margin-top: 5px;
    display: block;
}
.biggy h1{
    color:green;
    text-shadow:rgb(8, 8, 8) 2px 2px 4px;
    
}
.biggy h1:hover{
    color: yellowgreen;
    text-shadow:rgb(2, 2, 2) 2px 2px 4px;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    transition: all 4s ease-in-out;
    transition-duration: 2s;
    cursor: help;    
}
.bi:hover{
    color:red;
    cursor: pointer;
    transition:all 4s ease-in-out;
    transition-duration: 2s;
    translate: 6px 8px 35px;
    transform-style: preserve-3d;
    transform:rotateX(360deg);   
}
.apache{
    display:inline-block;
    position:absolute;
    list-style-type: none;
    color: #fff;
}
.job marquee{
    text-shadow: rgb(245, 5, 5) 2px 2px 2px;
}
footer{
    background-color: green;
    color: white;
    text-shadow: red 1px 1px 1px;
    padding-top: 10px;
    height:25vh;

}
.cow ul li{
    list-style-type: none;
}