{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Categories" %}{% endblock head_title %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/categories.css' %}">
</head>

<body>
<div class="container-sm">
    <center><h1 style='text-shadow: red 2px 2px 1px'>CATEGORIES</h1></center>
    <hr>
    <div class='row'>

            <div class='col float-start border'>
                <br>
                <center><h3 style='text-shadow: red 2px 2px 1px'>CLOTHINGS</h3></center>
                <hr>
                <br>
                <ul>
                    <li><a class="" href="{% url 'fruits:bags' %}">BAGS</a></li><br>
                    <li><a class="" href="{% url 'fruits:blouses' %}">BLOUSES</a></li><br>
                    <li><a class="" href="{% url 'fruits:gele' %}">GELE/HAIR TIES</a></li><br>
                    <li><a class="" href="{% url 'fruits:gowns' %}">GOWNS</a></li><br>
                    <li><a class="" href="{% url 'fruits:shoes' %}">SHOES</a></li><br>
                    <li><a class="" href="{% url 'fruits:tops' %}">TOPS</a></li>
                
                </ul>
            </div>
            <div class='col float-end border'>
                <br>
                <center><h3 style='text-shadow: red 2px 2px 1px'>OTHERS</h3></center>
                <hr>
                <br>
                <ul>
                    <li><a class="" href="{% url 'fruits:jewelries' %}">JEWELRIES</a></li><br>
                    <li><a class="" href="{% url 'fruits:make-ups' %}">MAKE-UP KITS</a></li><br>
                    <li><a class="" href="{% url 'fruits:purses' %}">PURSES</a></li><br>
                    <li><a class="" href="{% url 'fruits:wigs' %}">WIGS/HAIRS</a></li><br>
                    <li><a class="" href="{% url 'fruits:sanitaries' %}">SANITARIES</a></li><br>
                    <li><a class="" href="{% url 'fruits:sunglasses' %}">SUNGLASSES</a></li>
                
                </ul>
            </div>   
    </div>
</div>
<br>
<footer style='background-color:black'><center><span style='color:white'> &copy; 2020-{{year}} Chichibekee.com </span></center> </footer>
<br>
</body>
{%endblock content%}