{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Bags" %}{% endblock head_title %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/categories.css' %}">
</head>

<body>
    <div class="container-sm">
        <center><h1 style='text-shadow: red 2px 2px 1px'>BAGS</h1></center>
    <hr>
        
    <div class="row">
        {% for bag in bags %}
        <div class="col-lg-4">
             <div class="box-element product">
             <img class="thumbnail" src="{{bags.imageURL}}">
             <h3>{{bags.name}}</h3>
             <br>
             <h6 style="text-align:left;">{{bags.address}}</h6>
             <hr>
             <button data-product={{bags.id}}   data-action="add" id="cart-btn" class="btn btn-outline-secondary add-btn update-cart"> Add </button>
             <a class="btn btn-outline-success" href="{% url 'fruits:bags'%}">View</a>
             <h4 style="display:inline-block; float:right"><strong>${{bags.price|floatformat:2}}</strong></h4>
             </div>
        </div>              
        {% endfor %}
   </div>




    <br>
    <footer style='background-color:black'><center><span style='color:white'> &copy; 2020-{{year}} Chichibekee.com </span></center> </footer>
    <br>
</body>
{%endblock content%}